<?xml version="1.0"?>
<!--
Web.config file for miller.

The settings that can be used in this file are documented at 
http://www.mono-project.com/Config_system.web and 
http://msdn2.microsoft.com/en-us/library/b5ysx397.aspx
-->
<configuration>
  
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source = (LocalDB)\MSSQLLocalDB; AttachDbFilename = C:\Users\U1072133\Downloads\miller\miller\App_Data\Store.mdf; Integrated Security = True"
      providerName="System.Data.SqlClient" />
    <add name="CustomerConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Store.mdf;Integrated Security=True;Connect Timeout=30"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies />
    </compilation>
    <httpRuntime targetFramework="4.5" />
  </system.web>
  
</configuration>